x64/
Debug/
bin/
obj/
Release/
*.dll
packages/
*.exe
*.pdb
UnityEngine*.xml
.vs/
*~
!0Harmony.dll
*.aps
*.o
*.so
*.vcxproj.user
olgetdata/olgetdata.csproj
olgetdata/packages.config
GameMod/packages.config

